layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    
    tab name="Code" focus=true cwd="." {
        pane split_direction="horizontal" {
            pane size="60%" name="Editor" command="nvim" {
                args "."
            }
            pane split_direction="vertical" size="40%" {
                pane name="Build" size="60%"
                pane name="Test" size="40%"
            }
        }
    }
    
    tab name="Files" {
        pane name="Explorer" {
            plugin location="file_manager"
        }
    }
    
    tab name="Git" {
        pane name="LazyGit" command="lazygit"
    }
}
